* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  background-color: hsl(0, 0%, 8%);

}

.RetanguloCentral{
  background-color: hsl(0, 0%, 12%);
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 26.5rem;
  height: 43rem;
  margin: 3.5rem 23rem 3.5rem 23rem;
  padding: 1rem;
  border-radius: 10px;

  & .FotoPerfil img {
      border-radius: 100%;
      width: 8rem;
      margin: 2rem 7.5rem 2rem 7.5rem;

  }
  & h1 {
    font-family: "Inter", sans-serif;
    font-size: 1.5rem;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    margin: 0rem 5rem 0rem 5rem;
    padding: 0rem 1rem 0rem 1rem;

  }
  & h2 {
    font-family: "Inter", sans-serif;
    font-size: 8px;
    color: hsl(75, 94%, 57%);
    font-weight: 700;
    margin: 0.5rem 1rem 0.5rem 1rem;
    padding: 0rem 5.6rem 0rem 5.6rem;

  }
  & h3 {
    font-family: "Inter", sans-serif;
    font-size: 1rem;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
    margin: 1rem 0rem 1rem 0rem;
    padding: 0.5rem 2rem 0.5rem 2rem;
  }
  }


/* Regras de mídia para tornar o layout responsivo */

